@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
   @apply bg-slate-50
}

/* General styles */
.max-width {
   @apply max-w-[1440px] mx-auto;
}

.padding-x {
   @apply sm:px-16 px-6;
}

.padding-y {
   @apply py-4
}

/* Footer styles */
.footer__links {
    @apply w-full flex-1 flex justify-between items-center gap-5 sm:gap-20
 }

 .footer__link {
    @apply flex flex-col gap-3 text-left
 }

 .footer__copyrights{
    @apply w-full sm:px-16 px-10 py-10 border-t border-gray-100 flex justify-between items-center flex-col sm:flex-row;
 }

 .footer__copyrights-link {
    @apply flex justify-center sm:flex-row flex-col text-base font-normal py-2 sm:py-0 gap-3 sm:gap-10
 }
